* {margin:0; padding:0; box-sizing:border-box;}
body {
    background-color: #DCDDD8;
    font-size: 20px;
    font-family:'Lato', sans-serif;
    font-weight: 100;
    color: #475F77;
}
h1,h2,h3 {
    font-family: 'Amatic SC', cursive;
    margin-bottom:.5em;
}
h1 {
    color: #BA3770;
    font-size: 10em;
    font-weight: 700;
}

h2 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
    color: #BA3770;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 7px;
}
ul {
}
#splash {
    background:url(../images/pinkflowers.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:70vh;
    padding: 6em 1em 0em 3em;
    background-position: 0px -145px;
}
nav {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    background-color: #475F77;
    color: white;
    padding: 15px;
    position: fixed;
    width: 100%;
    margin: 0px auto;
    text-align: right;
}
nav span:first-child{
    position: absolute;
    left: 15px;
}
section {
    padding: 6em 0;
}
footer {
    background-color: #475F77;
    padding: 15px;
    color: #E0EEEE;
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
    margin: 0px auto;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    width: 100%;
    margin: 0px auto;
    text-align: left;
}
aside {
    background-color: #FFC675;
}
.cta {
    background: #BA3770;
    display: block;
    color:#fff;
    padding: 1em 1em;
    text-decoration:none;
    text-align: center;
    width:32.33%;
    margin:1em auto;
}
#about {
    width: 40em;
    margin: auto;
    }
#education {
    width: 70%;
    margin: auto;
    }
#experience {
    background-color: #D6D4C9;
}
p.p2{
    padding: 2em 1em 1em 1em;
}
#experience div {
    width: 70%;
    margin:auto;
}
#experience ul {
    list-style: none;
}
#experience ul > li {
    float: left;
    color:#fff;
    background: #475F77;
    padding: 1em 0;
    text-decoration:none;
    text-align: center;
    text-transform: capitalize;
    width: 32.33%;
    margin: .5%;
}
a{
    color: #E0EEEE;
    text-decoration: none;
}
nav a{
    margin-right: .75em;
}
p{
    margin-bottom: 1em;
}
.clearfix:after {
    visibility:hidden;
    content:".";
    height:0;
    font-size:0;
    display:block;
    clear:both;
}
@media only screen and (max-width: 1200px) {
  nav {
    float: none;
  }
  nav a {
      margin: 0 1.6em .75em 0;
  }
  img {
    width: 320px;
}
h1 {
    font-size: 7em;
  }
#splash {
    width: 100%;
}
}
@media only screen and (max-width: 800px) {
nav {
    float: none;
    width: 100%;
  }
nav a {
    margin-right: .5em; 
    font-size: .75em;
}
nav span:first-child{
    font-size: .75em;
}
img {
    width: 320px;
}
h1 {
    font-size: 7em;
}
#splash h1 {
    padding: .5em 0em 0em 0em;
}
#splash {
    width: 100%;
    background-position: 0px -50px;
}
#about {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
  padding: 2em 4em; 
}
#experience {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
}
#education {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
}
}
@media only screen and (max-width: 1030px) {
    #splash {
    width: 100%;
    background-position: 0px 15px;
}
}
@media only screen and (max-width: 400px) {
nav {
    float: none;
    width: 100%;
    padding-bottom: .1em;
  }
nav a {
    margin-right: -1em; 
    font-size: .75em;
}
#navabout, #navexperience, #naveducation, #navresume {
    display: none;
} 
#navlinked {
    padding: 1.5em;

}
nav span:first-child{
    font-size: .65em;
}
#splash h1 {
    display: none;
}
#splash {
    width: 100%;
    background-position: -1.4em 2em;
    height: 15em;
}
h2 {
    font-size: 2em;
}
#about {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
  padding: 1em 2em; 
}
#experience {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
}
#education {
  font-size: 1em;
  line-height: 1.4em; 
  width: 90%;
  padding: none;
}
#experience ul > li {
    float: none;
    padding: 1em 0;
    width: 80%;
    margin: 13%;
}
.cta {
    width:80%;
    margin:1em auto;
}
footer {
    width: 100%;
    padding-bottom: .1em;
}
}
@media only screen and (max-width: 700px) {
nav {
    float: none;
    width: 100%;
    padding-bottom: .1em;
  }
nav a {
    font-size: .75em;   
}
nav span:first-child{
    font-size: .65em;
}
#splash h1 {
    display: none;
}
#splash {
    width: 100%;
    height: 15em;
}
h2 {
    font-size: 2em;
}
#about {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
  padding: 1em 2em; 
}
#experience {
  font-size: 1em;
  line-height: 1.4em; 
  width: 100%;
}
#education {
  font-size: 1em;
  line-height: 1.4em; 
  width: 90%;
  padding: none;
}
#experience ul > li {
    float: none;
    padding: 1.5em 0;
    width: 60%;
    margin: 15%;
}
.cta {
    width:80%;
    margin:1em auto;
}
footer {
    width: 100%;
    padding-bottom: .1em;
}