* {margin:0; padding:0; box-sizing:border-box;}
body {
    background-color: #E0EEEE;
    color: #101072;
    font-size: 20px;
    font-family:'Lato', sans-serif;
    font-weight: 100;
}
h1,h2,h3 {
    font-family: 'Amatic SC', cursive;
    margin-bottom:.5em;
}
h1 {
    color: #388E8E;
    font-size: 5em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 7px;
}
ul {
    padding-left:1.25em;
}
#splash {
    background:url(../images/joeybeach.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:75vh;
    padding:5em;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    position: fixed;
    width: 100%;
    margin: 0px auto;
    text-align: right;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    width: 100%;
    margin: 0px auto;
    text-align: left;
}
aside {
    background-color: #FFC675;
}
