body {
    background-color: #E0EEEE;
}

h1 {
    color: #388E8E;
    font-size: 100px;
      text-align: center;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;

}

h2 {
    color: #101072;
    font-size: 32px;
      text-align: center;
      font-family: 'Amatic SC', cursive;
      font-weight: 400;
}

h3 {
  color: #101072;
    font-size: 32px;
      text-align: left;
      font-family: 'Amatic SC', cursive;
      font-weight: 400;
}

p {
  color: #101072;
  font-size: 20px;
    text-align: left;
    font-family:'Lato', sans-serif;
    font-weight: 100;
}

ul {
  color: #101072;
  font-size: 20px;
    text-align: left;
    font-family:'Lato', sans-serif;
    font-weight: 100;
}

.letter-spacing {
  letter-spacing: 7px;
}

.letter-spacing2 {
  letter-spacing: 7px;
}

